{% block row %}
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default panel-mc">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover table-list-mc" id="J_dataTable">
                        <thead>
                <tr>
                    <th>子项名称</th>
                    <th>系统类型</th>
                    <th>运行状态</th>
                    <th>健康分值</th>
                    <th>历史分值</th>
                    <th>详细信息</th>
                </tr>
            </thead>
                        <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.instance_name }}</td>
                    <td>{{ post.object_type }}</td>
                    <td>{{ post.status }}</td>
                    <td>{{ post.score }}</td>
                    {% if post.object_type in ('mw','net','storage','os') %}
                    <td><a role="button" class="btn btn-info btn-sm j-hty" href="#">图表</a></td>
                    {% else %}
                    <td><a role="button" class="btn btn-info btn-sm j-hty" href="{{ url_for('.charts',sys_id=post.sys_id,object_id=post.object_id,table_name='score_db',sysname=sysname) }}">图表</a></td>
                    {% endif %}
                    <td><a role="button" class="btn btn-info btn-sm j-more" href="{{ url_for('.model_health',sys_id=post.sys_id,object_id=post.object_id,sysname=sysname,instance_name=post.instance_name) }}">更多</a></td>
                </tr>
                {% endfor %}
            </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
