{{ post }}_option = {
	        title: {
		        left: 'center',
		        text: '{{ dic_table[post]['table_cn_name'] }}',
                subtext: '当前分值：{{ dic_table[post]['score1'][-1] | safe }}',
		        textStyle: {
		        	color: '#3c5563',
					fontStyle: 'normal',
					fontWeight: 'bolder',
					fontFamily: '"Microsoft YaHei"',
					fontSize: 16
		        }
		    },
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
				show:false,
		        data:['解析健康指数']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
				show:false,//隐藏工具箱
		        feature: {
		            saveAsImage: {}
		        }
		    },
		    xAxis: {
		        type: 'category',
		        boundaryGap: false,
		        axisLine:{
					lineStyle:{
						color: '#c1ccd1'
					}
		        },
		        axisLabel:{
					textStyle:{
						color: '#435b68'
					}
		        },
		        splitLine:{
		        	show:true,
					lineStyle: {
						color: ['#c1ccd1'],
						type: 'dotted'
					}
		        },
		        data : {{ dic_table[post]['end_time'] | safe }}.map(function (str) {
                return str.replace(' ', '\n') })
            },
		    yAxis: {
		        type: 'value',
		        axisLine:{
					lineStyle:{
						color: '#c1ccd1'
					}
		        },
		        splitLine:{
					lineStyle: {
						color: ['#c1ccd1'],
						type: 'dotted'
					}
		        },
		        axisLabel:{
					textStyle:{
						color: '#435b68'
					}
		        }
		    },
		    series: [
		        {
		            name:'解析健康指数',
		            type:'line',
		            stack: '总量',
                    symbolSize:6,
                    hoverAnimation: false,//鼠标划上动画效果
		            lineStyle: {
						normal: {
							color: '#f79d45'
						}
					},
		            data: {{ dic_table[post]['score1'] | safe }}
		        }
		    ]
		};