{% extends "healthy/hbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_wrapper %}
{% block message %}
    {{ super() }}
{% endblock message %}
<div class="col-lg-12 main table-responsive">
        <div class="breadcrumb">
            <a href="{{ url_for('main.system_health') }}">数据库健康分析</a> &gt;
            <a href="{{ url_for('main.object_health',sys_id=sys_id,sysname=sysname) }}" target="_self">{{ sysname }}</a> &gt;
                            <span>{{ instance_name }}</span>
        </div>
{% include 'healthy/_healthy_mdl.html' %}
</div>
{% endblock %}

{% block func %}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#J_dataTable').DataTable({
                    "order": [[ 1, "asc" ]],
                    responsive: true
                });
            });
        </script>
{% endblock %}